/* * {
    background-color: black;
} */


.wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.wrapper{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 60px;
}

